html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  border: 0; }

* {
  box-sizing: border-box; }

body {
  font-family: 'Lato', sans-serif;
  color: #414141; }

.section-inner {
  width: 1180px;
  margin: 0 auto; }

.btn-main {
  font-size: 18px;
  border-radius: 4px;
  padding: 16px 50px;
  outline: none;
  cursor: pointer;
  text-decoration: none;
  color: #ffffff;
  border: none;
  background: linear-gradient(to right, #fe985b 0%, #fe4fa7 100%); }

.btn-secondary {
  color: #414141;
  font-size: 18px;
  border-radius: 4px;
  padding: 16px 50px;
  outline: none;
  cursor: pointer;
  text-decoration: none;
  border: 1px solid #979797; }

.section-header {
  color: #ffffff;
  background: url("../img/bg-header.png") no-repeat 50% 50%;
  background-size: cover;
  position: relative; }
  .section-header .section-inner {
    height: 100vh;
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column; }
  .section-header::before {
    content: '';
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #142729;
    opacity: 0.47; }
  .section-header-logo {
    padding-top: 35px;
    font-weight: bold;
    font-size: 24px;
    flex-shrink: 1; }
  .section-header-content {
    flex-grow: 1;
    display: flex;
    align-items: center; }
  .section-header-wrapper {
    margin: 0 auto; }
    .section-header-wrapper__title {
      text-align: center;
      font-size: 55px;
      font-weight: bold;
      line-height: 60px;
      margin-bottom: 17px; }
    .section-header-wrapper__subtitle {
      text-align: center;
      font-size: 18px;
      font-weight: 400;
      line-height: 32px;
      width: 67%;
      margin: 0 auto 44px; }
    .section-header-wrapper__form {
      display: flex; }
      .section-header-wrapper__form-input {
        flex: 1;
        padding-right: 40px; }
        .section-header-wrapper__form-input input {
          border: none;
          border-radius: 4px;
          background-color: rgba(255, 255, 255, 0.25);
          width: 100%;
          font-size: 16px;
          font-weight: 400;
          padding: 16px 20px;
          outline: none; }
          .section-header-wrapper__form-input input::placeholder {
            color: #ffffff; }

.section-promo {
  padding-top: 120px;
  padding-bottom: 120px; }

.section-promo-1 {
  display: flex; }
  .section-promo-1__content, .section-promo-1__video {
    flex-basis: 50%; }
  .section-promo-1__content {
    padding-right: 90px; }
    .section-promo-1__content .title {
      font-size: 34px;
      font-weight: bold;
      line-height: 51px;
      bottom: 60px; }
    .section-promo-1__content .subtitle {
      font-size: 18px;
      font-weight: 700;
      margin-top: 30px; }
    .section-promo-1__content .text {
      font-size: 16px;
      font-weight: 300;
      line-height: 27px;
      color: #6c6c6c;
      margin-top: 14px; }
  .section-promo-1__video img {
    width: 100%;
    height: auto; }

.section-promo-2 {
  display: flex;
  padding-top: 86px;
  margin-top: 120px;
  border-top: 1px solid #e2e2e2;
  text-align: center; }
  .section-promo-2__item:not(:last-child) {
    margin-right: 40px; }
  .section-promo-2__item icon {
    margin-bottom: 20px; }
  .section-promo-2__item .title {
    margin-top: 15px;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 15px; }
  .section-promo-2__item .content {
    font-size: 16px;
    font-weight: 300;
    line-height: 28px; }

.section-founder {
  padding-top: 30px;
  background-color: #f6fafd; }
  .section-founder .section-inner {
    display: flex; }
  .section-founder__img {
    align-self: flex-end; }
  .section-founder__content {
    align-self: center;
    padding-left: 35px; }
    .section-founder__content-text {
      font-size: 24px;
      font-weight: 400;
      line-height: 40px; }
    .section-founder__content-name {
      font-size: 24px;
      font-weight: 700; }
    .section-founder__content-post {
      font-size: 20px;
      font-weight: 400; }

.section-plans {
  padding-top: 120px;
  padding-bottom: 120px;
  text-align: center; }
  .section-plans__title {
    font-size: 36px;
    font-weight: 700;
    line-height: 51px; }
  .section-plans__subtitle {
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    width: 50%;
    margin: 0 auto 80px; }
  .section-plans__list {
    display: flex;
    justify-content: center; }
    .section-plans__list-item {
      flex-basis: 370px;
      padding: 60px 45px; }
      .section-plans__list-item_title {
        font-size: 14px;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 26px; }
      .section-plans__list-item_price {
        margin-bottom: 26px; }
        .section-plans__list-item_price .prefix {
          color: #fe4fa7;
          font-size: 72px;
          font-weight: 700; }
        .section-plans__list-item_price .postfix {
          color: #414141;
          font-size: 14px;
          font-weight: 700; }
      .section-plans__list-item_description {
        font-size: 16px;
        font-weight: 300;
        line-height: 28px;
        color: #6c6c6c;
        margin-bottom: 40px; }
