html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
  border: 0; }

* {
  box-sizing: border-box; }

body {
  font-family: 'Lato', sans-serif;
  color: #414141; }

.section-inner {
  width: 1180px;
  margin: 0 auto; }

.section-header {
  color: #ffffff;
  background: url("../img/bg-header.png") no-repeat 50% 50%;
  background-size: cover;
  position: relative; }
  .section-header .section-inner {
    height: 100vh;
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column; }
  .section-header::before {
    content: '';
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #142729;
    opacity: 0.47; }
  .section-header-logo {
    padding-top: 35px;
    font-weight: bold;
    font-size: 24px;
    flex-shrink: 1; }
  .section-header-content {
    flex-grow: 1;
    display: flex;
    align-items: center; }
  .section-header-wrapper {
    margin: 0 auto; }
    .section-header-wrapper__title {
      text-align: center;
      font-size: 55px;
      font-weight: bold;
      line-height: 60px;
      margin-bottom: 17px; }
    .section-header-wrapper__subtitle {
      text-align: center;
      font-size: 18px;
      font-weight: 400;
      line-height: 32px;
      width: 67%;
      margin: 0 auto 44px; }
    .section-header-wrapper__form {
      display: flex; }
      .section-header-wrapper__form-input {
        flex: 1;
        padding-right: 40px; }
        .section-header-wrapper__form-input input {
          border: none;
          border-radius: 4px;
          background-color: rgba(255, 255, 255, 0.25);
          width: 100%;
          font-size: 16px;
          font-weight: 400;
          padding: 16px 20px;
          outline: none; }
          .section-header-wrapper__form-input input::placeholder {
            color: #ffffff; }
      .section-header-wrapper__form-button button {
        font-size: 18px;
        border: none;
        border-radius: 4px;
        background: linear-gradient(to right, #fe985b 0%, #fe4fa7 100%);
        padding: 16px 50px;
        outline: none;
        color: #ffffff;
        cursor: pointer; }

.section-promo {
  padding-top: 120px;
  padding-bottom: 120px; }

.section-promo-1 {
  display: flex; }
  .section-promo-1__content, .section-promo-1__video {
    flex-basis: 50%; }
  .section-promo-1__content {
    padding-right: 90px; }
    .section-promo-1__content .title {
      font-size: 34px;
      font-weight: bold;
      line-height: 51px;
      bottom: 60px; }
    .section-promo-1__content .subtitle {
      font-size: 18px;
      font-weight: 700;
      margin-top: 30px; }
    .section-promo-1__content .text {
      font-size: 16px;
      font-weight: 300;
      line-height: 27px;
      color: #6c6c6c;
      margin-top: 14px; }
  .section-promo-1__video img {
    width: 100%;
    height: auto; }
