// === Mixins ===
@mixin font-lato {
    font-family: 'Lato', sans-serif;
}

@mixin start-button {
    display: inline-block;
    font-size: 18px;
    border-radius: 4px;
    padding: 16px 50px;
    outline: none;
    cursor: pointer;
    text-decoration: none;
}

// === / Mixins ===

// === Variables ===
$color-white: #ffffff;


$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;

$screen-xs-max: 575px;
$screen-sm-max: 767px;
$screen-md-max: 991px;
$screen-lg-max: 1199px;


// === / Variables ===

// === Common ===
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
    border: 0;
}

* {
    box-sizing: border-box;
}

body {
    @include font-lato;
    color: #414141;
}

.section-outer {
    padding-right: 20px;
    padding-left: 20px;
}

.section-inner {
    max-width: 1180px;
    margin: 0 auto;
}

.btn-main {
    @include start-button;
    color: $color-white;
    border: none;
    background: linear-gradient(to right, #fe985b 0%, #fe4fa7 100%);
    transition: 0.2s;

    &:hover {
        background: linear-gradient(to right, #fe985b 0%, #fe985c 100%);
    }
}

.btn-secondary {
    @include start-button;
    background-color: $color-white;
    color: #414141;
    border: 1px solid #979797;
    transition: 0.2s;

    &:hover {
        color: #fe4fa7;
        border-color: #fe4fa7;
    }
}

.btn-free {
    @include start-button;
    background-color: $color-white;
    color: #414141;
    border: none;
    transition: 0.2s;

    &:hover {
        color: #fe4fa7;
    }
}


// === / Common ===

// === header ===
.section-header {
    color: $color-white;
    background: url('../img/bg-header.png') no-repeat 50% 50%;
    background-size: cover;
    position: relative;

    .section-inner {
        height: 100vh;
        position: relative;
        z-index: 10;
        display: flex;
        flex-direction: column;
    }

    &::before {
        content: '';
        position: absolute;
        z-index: 5;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #142729;
        opacity: 0.47;
    }



    &-logo {
        padding-top: 35px;
        font-weight: bold;
        font-size: 24px;
        flex-shrink: 1;
    }

    &-content {
        flex-grow: 1;
        display: flex;
        align-items: center;
    }

    &-wrapper {
        margin: 0 auto;

        &__title {
            text-align: center;
            font-size: 55px;
            font-weight: bold;
            line-height: 60px;
            margin-bottom: 17px;
        }

        &__subtitle {
            text-align: center;
            font-size: 18px;
            font-weight: 400;
            line-height: 32px;
            width: 67%;
            margin: 0 auto 44px;
        }

        &__form {
            display: flex;

            &-input {
                flex: 1;

                input {
                    border: none;
                    border-radius: 4px;
                    background-color: rgba($color: $color-white, $alpha: 0.25);
                    width: 100%;
                    font-size: 16px;
                    font-weight: 400;
                    padding: 16px 20px;
                    outline: none;
                    transition: 0.2s;

                    &::placeholder {
                        color: $color-white;
                    }

                    &:focus {
                        background-color: rgba($color: $color-white, $alpha: 0.5);
                    }
                }

            }

            @media (min-width: $screen-sm) {
                &-input {
                    margin-right: 40px;
                }
            }

            @media (max-width: $screen-xs-max) {
                flex-direction: column;

                &-input {
                    margin-bottom: 15px;
                }

                &-button {
                    flex: 1;

                    .btn-main {
                        display: block;
                        width: 100%;
                    }
                }
            }
        }

    }

}

// === / header ===

// === promo ===

.section-promo {
    padding-top: 120px;
    padding-bottom: 120px;
}

.section-promo-1 {
    display: flex;

    &__content,
    &__video {
        flex-basis: 50%;
    }

    &__content {
        .title {
            font-size: 34px;
            font-weight: bold;
            line-height: 51px;
            bottom: 60px;
        }

        .subtitle {
            font-size: 18px;
            font-weight: 700;
            margin-top: 30px;
        }

        .text {
            font-size: 16px;
            font-weight: 300;
            line-height: 27px;
            color: #6c6c6c;
            margin-top: 14px;
        }
    }

    &__video {
        img {
            width: 100%;
            height: auto;
        }
    }

    @media (max-width: $screen-sm-max) {
        flex-direction: column;

        &__video {
            order: -1;
            margin-bottom: 25px;
        }
    }

    @media (min-width: $screen-md) {
        &__content {
            padding-right: 90px;
        }
    }
}

.section-promo-2 {
    display: flex;
    padding-top: 86px;
    margin-top: 120px;
    border-top: 1px solid #e2e2e2;
    text-align: center;

    &__item {

        icon {
            margin-bottom: 20px;
        }

        .title {
            margin-top: 15px;
            font-size: 18px;
            font-weight: 700;
            margin-bottom: 15px;
        }

        .content {
            font-size: 16px;
            font-weight: 300;
            line-height: 28px;
        }
    }

    @media (min-width: $screen-sm) {
        &__item {
            &:not(:last-child) {
                margin-right: 40px;
            }
        }
    }

    @media (max-width: $screen-xs-max) {
        flex-direction: column;

        &__item {
            &:not(:last-child) {
                margin-bottom: 30px;
            }
        }
    }

}

// === / promo ===

// === founder ===
.section-founder {
    padding-top: 30px;
    background-color: #f6fafd;

    .section-inner {
        display: flex;
    }

    &__content {

        &-text {
            font-size: 24px;
            font-weight: 400;
            line-height: 40px;
        }

        &-name {
            font-size: 24px;
            font-weight: 700;
        }

        &-post {
            font-size: 20px;
            font-weight: 400;
        }
    }

    @media (max-width: $screen-sm-max) {
        &__img {
            img {
                max-width: 100%;
            }
        }

        .section-inner {
            flex-direction: column;
        }

        &__content {
            order: -1;
            margin-bottom: 40px;
        }
    }

    @media (min-width: $screen-md) {
        &__img {
            align-self: flex-end;
        }

        &__content {
            align-self: center;
            padding-left: 35px;
        }

    }
}

// === / founder ===

// === plans ===
.section-plans {
    padding-top: 120px;
    padding-bottom: 120px;
    text-align: center;

    &__title {
        font-size: 36px;
        font-weight: 700;
        line-height: 51px;
    }

    &__subtitle {
        font-size: 16px;
        font-weight: 300;
        line-height: 28px;
        margin-bottom: 80px;
    }

    &__list {
        display: flex;
        justify-content: center;

        &-item {
            flex-basis: 370px;
            padding: 60px 45px;

            &_title {
                font-size: 14px;
                font-weight: 700;
                text-transform: uppercase;
                margin-bottom: 26px;
            }

            &_price {
                margin-bottom: 26px;

                .prefix {
                    color: #fe4fa7;
                    font-size: 72px;
                    font-weight: 700;
                }

                .postfix {
                    color: #414141;
                    font-size: 14px;
                    font-weight: 700;
                }
            }

            &_description {
                font-size: 16px;
                font-weight: 300;
                line-height: 28px;
                color: #6c6c6c;
                margin-bottom: 40px;
            }
        }

        @media (max-width: $screen-xs-max) {
            flex-direction: column;
        }

    }

    @media (max-width: $screen-xs-max) {}

    @media (min-width: $screen-sm) {
        &__subtitle {
            width: 50%;
            margin-left: auto;
            margin-right: auto;
        }
    }
}

// === / plans ===

// === free ===
.section-free {
    text-align: center;
    color: $color-white;
    background: linear-gradient(to right, #fe985b 0%, #fe4fa7 100%);
    padding-top: 120px;
    padding-bottom: 100px;

    &__title {
        font-size: 55px;
        font-weight: 700;
        line-height: 60px;
        margin-bottom: 26px;
    }

    &__description {
        font-size: 20px;
        font-weight: 400;
        line-height: 30px;
        margin: 0 auto 40px;
    }

    @media (min-width: $screen-lg) {
        &__description {
            width: 50%;
        }
    }
}

// === / free ===

// === footer ===
.section-footer {
    padding-top: 80px;
    padding-bottom: 80px;

    &__logo {
        text-align: center;
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 30px;
    }

    &__nav {
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0;
        list-style: none;
        margin-bottom: 75px;

        li {
            a {
                font-size: 14px;
                font-weight: 700;
                line-height: 20px;
                text-transform: uppercase;
                text-decoration: none;
                color: #464646;
                transition: 0.2s;

                &:hover,
                &.active {
                    color: #fe50a6;
                }
            }
        }

        @media (max-width: $screen-xs-max) {
            flex-direction: column;
            text-align: center;

            li {
                &+li {
                    margin-top: 10px;
                }
            }
        }

        @media (min-width: $screen-sm) {
            li {
                &+li {
                    margin-left: 60px;
                }
            }
        }
    }

    &__copyright_and_links {
        display: flex;
        justify-content: space-between;

        &-copyright {
            color: #464646;
            font-size: 14px;
            font-weight: 400;
        }

        @media (min-width: $screen-xl) {
            width: 60%;
            margin: 0 auto;
        }

        @media (max-width: $screen-xs-max) {
            flex-direction: column;
            text-align: center;
        }
    }
}

.helper-links {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
        &+li {
            margin-left: 20px;
        }

        a {
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;
            text-decoration: none;
            color: #464646;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    @media (max-width: $screen-xs-max) {
        display: inline-flex;
        margin-top: 20px;
    }

    @media (min-width: $screen-sm) {
        display: flex;
    }
}

// === / footer ===